* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #c9c9c9;
	position: relative;
}

#ball {
	width: 200px;
	height: 200px;
	background: black;
	margin-left: 400px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

					